/* Notifications Customization */

.taskbar .icons-right #notifications, .taskbar .icons-right #up
{
    position: relative;
    width: 2vmin !important;
    height: 5vmin !important;
    background-color: rgba(255,255,255, 0.5);
}

.taskbar .icons-right #notifications, .taskbar .icons-right #up:hover
{
    background-color: rgba(255,255,255, 0.2);
}

.taskbar .icons-right .datetime
{
    position: relative;
    top: -3vmin;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.deskDiv
{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.cvContainer
{
    top: 10vmin;
    position: absolute;
    width: 125vmin;
    height: 80%;
    background-color: white !important;
    box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.linkContainer
{
    top: 10vmin;
    position: absolute;
    width: 125vmin;
    height: 80%;
    background-color: white !important;
    box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.twitterContainer
{
    top: 10vmin;
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: white !important;
    box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.homeContainer
{
    top: 10vmin;
    position: absolute;
    width: 125vmin;
    height: 80%;
    background-color: white !important;
    box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.icons-dekstop
{
    z-index: 2;
}

.closeCroix
{
    position: absolute;
    color: black;
    font-size: 3vmin;
    top: 0.25vmin;
    right: 0.5vmin;
    cursor: pointer;
}